<div class="container">
   <div class="row">
      <div class="col-sm-6">
         <h1>NautilusPompiliusRegular</h1>
         <h2>test font-awesome - <i class="fa fa-beer" aria-hidden="true"></i></h2>
      </div>
      <div class="col-sm-6">
         <h2>test sprites - <i class="icon-vk"></i><i class="icon-tw"></i></h2>
         <h2>test ionicons - <i class="ion-medkit"></i></h2>
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing. </p>
      </div>
   </div>
</div>
<hr>
<p>25.09.16</p>